@keyframes menu_up {
  0% {
    height: 368px;
  }
  100% {
    height: 50px;
  }
}

@keyframes menu_down {
  0% {
    height: 50px;
  }
  100% {
    height: 368px;
  }
}

/* line 22, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
* {
  font-family: 'DM Sans', sans-serif;
}

/* line 27, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body {
  background-color: #4e7e74;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 35, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* line 46, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header {
  max-width: 1200px;
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 55, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logo {
  width: 25%;
}

/* line 62, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

/* line 70, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar #avatar_user {
  width: 60px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* line 78, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar h2 {
  padding-right: 10px;
  font-size: 18px;
  color: whitesmoke;
}

/* line 85, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar h3 {
  font-size: 18px;
  color: whitesmoke;
}

/* line 93, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logout {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 103, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logout:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 112, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}

/* line 124, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .animation_down {
  transition-duration: 0.2s;
  transform: rotate(90deg);
}

/* line 130, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .animation_up {
  transition-duration: 0.2s;
  transform: rotate(90deg);
}

/* line 138, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 144, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post h2 {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* line 151, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post button {
  border: none;
  background-color: whitesmoke;
  transition-duration: 0.2s;
}

/* line 157, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post button i {
  font-size: 18px;
  cursor: pointer;
}

/* line 168, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .menu_down {
  height: 328px;
  transition-duration: 0.3s;
}

/* line 174, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .menu_up {
  transition-duration: 0.3s;
  height: 0px;
}

/* line 183, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #message {
  border-radius: 10px;
  border: none;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 193, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file {
  display: flex;
  justify-content: center;
}

/* line 198, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #get_image {
  padding: 10px;
  height: 100px;
  margin-bottom: 30px;
  width: 30%;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 210, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #get_image:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 216, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #get_image i {
  font-size: 30px;
}

/* line 223, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #image {
  display: none;
  border: none;
  margin-bottom: 30px;
}

/* line 233, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #post {
  width: 30%;
  padding: 10px;
  background-color: #ddac9d;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 245, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #post:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 261, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card {
  border-radius: 7px;
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 50px;
}

/* line 270, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 277, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .user_id {
  font-size: 20px;
  margin-right: 25px;
}

/* line 284, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .avatar {
  width: 30px;
  border-radius: 50%;
}

/* line 290, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .edit_message {
  border: none;
  background-color: whitesmoke;
  color: #4e7e74;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 300, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .edit_message:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 307, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .report {
  border: none;
  background-color: whitesmoke;
  color: #ddac9d;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 317, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .report:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 324, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .erase {
  border: none;
  background-color: whitesmoke;
  color: #d66b4a;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 333, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .erase:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 342, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card h3 {
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
}

/*# sourceMappingURL=home.css.map */