/* line 10, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
* {
  font-family: 'DM Sans', sans-serif;
}

/* line 15, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body {
  background-color: #4e7e74;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 23, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

/* line 32, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header {
  max-width: 1200px;
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 41, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logo {
  width: 25%;
}

/* line 48, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

/* line 57, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar #avatar_user {
  width: 60px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* line 67, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar #avatar_user:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 77, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar h2 {
  padding-right: 10px;
  font-size: 18px;
  color: whitesmoke;
}

/* line 84, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #names_avatar h3 {
  font-size: 18px;
  color: whitesmoke;
}

/* line 91, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 98, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user i {
  color: whitesmoke;
  font-size: 25px;
}

/* line 104, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user {
  text-align: center;
  background-color: whitesmoke;
  position: absolute;
  top: 120px;
  border-radius: 10px;
}

/* line 114, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #edit {
  transition-duration: 0.2s;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  padding-bottom: 0;
}

/* line 121, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #edit:hover {
  transition-duration: 0.2s;
  background-color: rgba(128, 128, 128, 0.412);
}

/* line 126, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #edit a {
  text-decoration: none;
  color: #4e7e74;
}

/* line 131, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #edit a h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
  height: 100%;
  font-size: 18px;
  border-bottom: #4e7e74 1px solid;
}

/* line 143, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #erase {
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 15px;
}

/* line 149, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #erase:hover {
  transition-duration: 0.2s;
  background-color: rgba(128, 128, 128, 0.412);
}

/* line 154, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user #menu_user #erase h3 {
  margin: 0;
  height: 100%;
  font-size: 18px;
  color: #dc876d;
}

/* line 168, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user .menu_user_up #edit {
  display: none;
}

/* line 172, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user .menu_user_up #erase {
  display: none;
}

/* line 180, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user .menu_user_down #edit {
  display: block;
}

/* line 184, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #toggle_user .menu_user_down #erase {
  display: block;
}

/* line 196, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logout {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 206, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container header #logout:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 214, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: none;
}

/* line 223, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user h3 {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* line 230, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #user_firstname {
  height: 50px;
  width: 45%;
}

/* line 236, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #user_lastname {
  height: 50px;
  width: 45%;
}

/* line 242, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #user_modified {
  border-radius: 10px;
  border: none;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 252, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #upload_avatar_modified {
  display: flex;
  justify-content: center;
}

/* line 257, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #upload_avatar_modified #get_avatar_modified {
  margin-top: 50px;
  height: 100px;
  margin-bottom: 30px;
  width: 30%;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 269, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #upload_avatar_modified #get_avatar_modified:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 275, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #upload_avatar_modified #get_avatar_modified i {
  font-size: 30px;
}

/* line 282, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #upload_avatar_modified #avatar_modified {
  display: none;
  border: none;
  margin-bottom: 30px;
}

/* line 291, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #buttons_modify_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 297, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #buttons_modify_user #user_modified {
  width: 30%;
  height: 50px;
  background-color: #ddac9d;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 309, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #buttons_modify_user #user_modified:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 316, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #buttons_modify_user #cancel_user_modified {
  width: 30%;
  height: 50px;
  background-color: tomato;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 328, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_user #buttons_modify_user #cancel_user_modified:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 339, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message {
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}

/* line 351, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .animation_down {
  transition-duration: 0.2s;
  transform: rotate(90deg);
}

/* line 357, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .animation_up {
  transition-duration: 0.2s;
  transform: rotate(90deg);
}

/* line 365, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 0.3s;
}

/* line 372, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post h2 {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* line 379, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post button {
  border: none;
  background-color: whitesmoke;
  transition-duration: 0.2s;
}

/* line 385, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #toggle_post button i {
  font-size: 18px;
  cursor: pointer;
}

/* line 396, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .menu_down {
  transition-duration: 0.5s;
  height: auto;
  min-height: 600px;
}

/* line 404, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message .menu_up {
  transition-duration: 0.5s;
  height: 0px;
}

/* line 410, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs {
  display: flex;
  flex-direction: column;
  transition-duration: 0.3s;
}

/* line 416, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #message {
  transition-duration: 0.3s;
  display: flex;
  border-radius: 10px;
  border: none;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 427, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #message .img {
  margin-left: 50px;
}

/* line 434, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 440, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file .preview {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: white;
  height: 250px;
}

/* line 450, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file .preview button {
  border: none;
  cursor: pointer;
  background-color: white;
}

/* line 457, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file .preview i {
  font-size: 50px;
  text-align: center;
}

/* line 463, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file .preview img {
  margin-top: 25px;
  width: 350px;
}

/* line 473, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #post {
  width: 30%;
  padding: 10px;
  margin-top: 100px;
  margin-left: 400px;
  background-color: #ddac9d;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 487, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #create_message #inputs #upload_file #post:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 497, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

/* line 503, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card {
  display: flex;
  flex-direction: column;
}

/* line 510, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message {
  margin-top: 30px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: none;
}

/* line 518, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message h3 {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* line 525, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #message_modified {
  border-radius: 10px;
  border: none;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 535, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #upload_file_modified {
  display: flex;
}

/* line 541, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 250px;
  margin-bottom: 50px;
}

/* line 550, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message .preview button {
  border: none;
  cursor: pointer;
  background-color: white;
}

/* line 557, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message .preview i {
  font-size: 50px;
  text-align: center;
}

/* line 563, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message .preview img {
  margin-top: 25px;
  width: 350px;
}

/* line 572, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #buttons {
  display: flex;
  justify-content: space-between;
}

/* line 577, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #buttons #post_modified {
  width: 30%;
  padding: 10px;
  background-color: #ddac9d;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 589, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #buttons #post_modified:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 596, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #buttons #cancel {
  width: 30%;
  padding: 10px;
  background-color: tomato;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 608, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #modify_message #buttons #cancel:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 622, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card {
  border-radius: 7px;
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 50px;
}

/* line 631, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 638, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .user_id {
  font-size: 20px;
  margin-right: 20px;
}

/* line 645, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .avatar {
  border: 1px solid #223e25;
  margin-left: -100px;
  width: 40px;
  border-radius: 50%;
}

/* line 655, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .link .edit_message {
  border: none;
  background-color: whitesmoke;
  color: #4e7e74;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 663, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .link .edit_message:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 674, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .report {
  border: none;
  background-color: whitesmoke;
  color: #ddac9d;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 684, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .report:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 691, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .erase {
  border: none;
  background-color: whitesmoke;
  color: #d66b4a;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 700, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card .user_div .erase:hover {
  transition-duration: 0.2s;
  font-size: 15px;
}

/* line 709, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/home.scss */
body #container #messages .messages_card h3 {
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
}

/*# sourceMappingURL=home.css.map */