/* line 7, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
* {
  font-family: 'DM Sans', sans-serif;
}

/* line 12, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body {
  background-color: #4e7e74;
}

/* line 17, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body header {
  height: 230px;
  display: flex;
  justify-content: center;
}

/* line 23, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body header img {
  width: 250px;
}

/* line 30, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

/* line 36, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup {
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* line 46, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  padding: -5px;
}

/* line 54, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup h2 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/* line 61, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup input {
  border: none;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 5px;
}

/* line 69, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup #name_firstname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 76, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup #firstname {
  width: 43%;
}

/* line 81, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup #name {
  width: 43%;
}

/* line 86, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup #submit {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 96, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #signup #submit:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/* line 104, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login {
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* line 114, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  padding: -5px;
}

/* line 122, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login h2 {
  font-size: 18px;
  font-weight: 600;
}

/* line 128, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login input {
  border: none;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 5px;
}

/* line 137, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login #name {
  width: 43%;
}

/* line 142, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login #submit {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* line 152, ../../../Desktop/p7bis/projet7_CharlyDewalles/frontend/scss/style.scss */
body #container #login #submit:hover {
  box-shadow: #223e25c6 2px 4px 12px 1px;
  transition-duration: 0.2s;
}

/*# sourceMappingURL=style.css.map */