$green: #223e25;
$pastel-blue:#4e7e74;
$pastel-grey: #4e5f53;
$pastel-pink: #ddac9d;


* 
{
    font-family: 'DM Sans', sans-serif;
}

body 
{
    background-color: $pastel-blue;
    display: flex;
    justify-content: center;

    #container 
    {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

        header
        {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            #logo
            {
                width: 25%;
            }

            #avatar
            {
                width: 60px;
                border-radius: 50%;
                margin-left: 50px;
            }


            button
            {
                margin-left: 200px;
                background-color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;
                transition-duration: 0.2s;
    
                &:hover 
                {
                    box-shadow: #223e25c6 2px 4px 12px 1px;
                    transition-duration: 0.2s;
                }
            }
        }

        .messages_card
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: $green 1px solid;
            border-radius: 7px;
            background-color: whitesmoke;
            padding: 20px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }


    }

}

