$green: #223e25;
$pastel-blue:#4e7e74;
$pastel-grey: #4e5f53;
$pastel-pink: #ddac9d;



@keyframes menu_up
{
    0% { height: 368px; };
    100% { height: 50px; }
}

@keyframes menu_down
{
    0% { height: 50px; };
    100% { height: 368px; }
}



* 
{
    font-family: 'DM Sans', sans-serif;
}

body 
{

    background-color: $pastel-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #container 
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        

        header
        {
            max-width: 1200px;
            margin-top: 50px;
            padding-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #logo
            {
                width: 25%;
            }



            #names_avatar
            {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                width: 30%;

                #avatar_user
                {
                    width: 60px;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }

                h2 
                {
                    padding-right: 10px;
                    font-size: 18px;
                    color: whitesmoke;
                }

                h3
                {
                    font-size: 18px;
                    color: whitesmoke;
                }
            }


            #logout
            {
                background-color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;
                transition-duration: 0.2s;
    
                &:hover 
                {
                    box-shadow: #223e25c6 2px 4px 12px 1px;
                    transition-duration: 0.2s;
                }
            }
        }


        #create_message
        {

            display: flex;
            flex-direction: column;
            align-content: flex-start;
            padding: 20px;
            background-color: whitesmoke;
            border-radius: 10px;
            overflow: hidden;


            .animation_down
            {
                transition-duration: 0.2s; 
                transform: rotate(90deg);
            }
    
            .animation_up
            {
                transition-duration: 0.2s; 
                transform: rotate(90deg);
            }

  

            #toggle_post
            {
                display: flex;
                flex-direction: row;
                align-items: center;

                h2 
                {
                    margin-right: 20px;
                    font-size: 15px;
                    font-weight: 500;
                }

                button
                {
                    border: none;
                    background-color: whitesmoke;
                    transition-duration: 0.2s; 

                    i 
                    {
                        font-size: 18px;
                        cursor: pointer;
                    }

     
                }

            }

            .menu_down
            {
                height: 328px;
                transition-duration: 0.3s;
            }

            .menu_up
            {
                transition-duration: 0.3s;
                height: 0px;
            }

            #inputs 
            {

                #message
                {
                    border-radius: 10px;
                    border: none;
                    height: 100px;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
    
                #upload_file
                {
                    display: flex;
                    justify-content: center;
    
                    #get_image 
                    {
                        padding: 10px;
                        height: 100px;
                        margin-bottom: 30px;
                        width: 30%;
                        background-color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition-duration: 0.2s;
    
                        &:hover 
                        {
                            box-shadow: #223e25c6 2px 4px 12px 1px;
                            transition-duration: 0.2s;
                        }
    
                        i 
                        {
                            font-size: 30px;
                        }
    
                    }
    
                    #image
                    {
                        display: none;
                        border: none;
                        margin-bottom: 30px;
                    }
          
                }
    
    
                #post 
                {
                    width: 30%;
                    padding: 10px;
                    background-color: $pastel-pink;
                    color: whitesmoke;
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    cursor: pointer;
                    transition-duration: 0.2s;
    
                    &:hover 
                    {
                        box-shadow: #223e25c6 2px 4px 12px 1px;
                        transition-duration: 0.2s;
                    }
                }
            }


        }

        #modify_message
        {
            margin-top: 30px;
            padding: 20px;
            background-color: whitesmoke;
            border-radius: 10px;
            display: none;
            h3 
            {
                margin-right: 20px;
                font-size: 15px;
                font-weight: 500;     
            }
            #message_modified 
            {
                border-radius: 10px;
                border: none;
                height: 100px;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            #upload_file_modified 
            {
                display: flex;
                justify-content: center;

                #get_image_modified  
                {
                    padding: 10px;
                    height: 100px;
                    margin-bottom: 30px;
                    width: 30%;
                    background-color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition-duration: 0.2s;

                    &:hover 
                    {
                        box-shadow: #223e25c6 2px 4px 12px 1px;
                        transition-duration: 0.2s;
                    }

                    i 
                    {
                        font-size: 30px;
                    }

                }

                #image_modified 
                {
                    display: none;
                    border: none;
                    margin-bottom: 30px;
                }
      
            }

            #buttons 
            {
                display: flex;
                justify-content: space-between;

                #post_modified 
                {
                    width: 30%;
                    padding: 10px;
                    background-color: $pastel-pink;
                    color: whitesmoke;
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    cursor: pointer;
                    transition-duration: 0.2s;

                    &:hover 
                    {
                        box-shadow: #223e25c6 2px 4px 12px 1px;
                        transition-duration: 0.2s;
                    }
                }  
                
                #cancel 
                {
                    width: 30%;
                    padding: 10px;
                    background-color: tomato;
                    color: whitesmoke;
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    cursor: pointer;
                    transition-duration: 0.2s;

                    &:hover 
                    {
                        box-shadow: #223e25c6 2px 4px 12px 1px;
                        transition-duration: 0.2s;
                    }    
                }
            }

        }


        #messages
        {

            .messages_card
            {
    
                border-radius: 7px;
                background-color: whitesmoke;
                padding: 20px;
                margin-top: 50px;

          
                .user_div
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .user_id 
                    {
                        font-size: 20px;
                        margin-right: 25px;
                    }
        
                    
                    .avatar
                    {
                        width: 30px;
                        border-radius: 50%;
                    }

                    .link
                    {
                        .edit_message
                        {
                            border: none;
                            background-color: whitesmoke;
                            color: $pastel-blue;
                            cursor: pointer;  
                            transition-duration: 0.2s;
                                
                            &:hover
                            {
                                transition-duration: 0.2s;
                                font-size: 15px;
                            }
                        }
            
                    }


    
                    .report
                    {
  

                        border: none;
                        background-color: whitesmoke;
                        color: $pastel-pink;
                        cursor: pointer;
                        transition-duration: 0.2s;

                        &:hover
                        {
                            transition-duration: 0.2s;
                            font-size: 15px;
                        }
                    }

                    .erase
                    {

                        border: none;
                        background-color: whitesmoke;
                        color: #d66b4a;
                        cursor: pointer;
                        transition-duration: 0.2s;

                        &:hover
                        {
                            transition-duration: 0.2s;
                            font-size: 15px;
                        }
                    }
                }
    
    
                h3
                {
                    padding: 12px;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }




    }

}


